@model Day03.Task.Models.User

@{
    ViewBag.Title = "Personal Page";
}

@section scripts
{
    <script>
        $(function () {
            var $body = $('body');
            var $navBar = $('.navbar');
            var $header = $('.header');
            var side = '@Model.Side.ToString()';

            if (side == 'Dark') {
                $navBar.addClass('navbar-inverse');
                $header.addClass('header-dark');
                $body.addClass('dark');
            }
            else {
                $navBar.addClass('navbar');
                $header.addClass('header-light');
                $body.deleteClass('dark');
            }
        });

        function SwitchSide(side){
            if (side == "Dark"){
                alert('LOL. There is no way out. PS your HR department has been contacted.');
            }
            else{
                window.location.href = '@Url.Action("ChangeSide", "Person", @Model)';
            }
        }
    </script>
}
@section header
{
    @Html.Partial("Header", @Model.Side.ToString())
}
@section body
{
    <div class="container">
        <h2><b>Name : </b>@Model.Name</h2>
    </div>
}
@section footer
{
    @Html.Action("Footer", "Person", new { side = @Model.Side })
}


