@using Models.Models
@model Models.Models.Person

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm())
{
    <div class="row">
        <h3>Personal info</h3>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.PersonId, new { @class = "col-xs-3" })
        @Html.EditorFor(m => m.PersonId, new { @class = "col-xs-4" })
    </div>
    <div class="row">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-xs-3" })
        @Html.EditorFor(m => m.FirstName, new { @class = "col-xs-4" })
    </div>
    <div class="row">
        @Html.LabelFor(m => m.LastName, new {@class = "col-xs-3"})
        @Html.EditorFor(m => m.LastName, new {@class = "col-xs-4"})
    </div>

    <div class="row">
        @Html.LabelFor(m => m.BirthDate, "Date of birth", new {@class = "col-xs-3"})
        @Html.TextBoxFor(m => m.BirthDate, new { @class = "col-xs-4", @placeholder = "yyyy-mm-dd"})
    </div>

    <div class="row">
        @Html.LabelFor(m => m.Role, new { @class = "col-xs-3" })
        @Html.RadioButtonFor(m => m.Role, "Guest")
        @Html.RadioButtonFor(m => m.Role, Role.User.ToString())
        @Html.RadioButtonFor(m => m.Role, Role.Admin.ToString())
    </div>


    <div class="row">
        <h3>Address</h3>
    </div>
    <div class="row">
        @Html.LabelFor(m => m.HomeAddress.Line1, new {@class = "col-xs-3"})
        @Html.EditorFor(m => m.HomeAddress.Line1, new {@class = "col-xs-4"})
    </div>
    <div class="row">
        @Html.LabelFor(m => m.HomeAddress.Line2, new { @class = "col-xs-3" })
        @Html.EditorFor(m => m.HomeAddress.Line2, new { @class = "col-xs-4" })
    </div>
    <div class="row">
        @Html.LabelFor(m => m.HomeAddress.City, new {@class = "col-xs-3"})
        @Html.EditorFor(m => m.HomeAddress.City, new {@class = "col-xs-4"})
    </div>
    <div class="row">
        @Html.LabelFor(m => m.HomeAddress.PostalCode, new { @class = "col-xs-3" })
        @Html.EditorFor(m => m.HomeAddress.PostalCode, new { @class = "col-xs-4" })
    </div>
    <div class="row">
        @Html.LabelFor(m => m.HomeAddress.Country, new { @class = "col-xs-3" })
        @Html.EditorFor(m => m.HomeAddress.Country, new { @class = "col-xs-4" })
    </div>
    <button name="submit">Submit</button>
}